:root {
  /* COLORS */

  --primary-color: #a67c52;
  --white: #fff;
  --bnt-color: #d6b27e;
  --hover-color: #b28f60;
  --primary-font-color: #333333;
  --heading-color: #222222;
  --border-color: #eaeaea;

  /* FONTS */
  --primary-font: "Inter", serif;
  --heading-font: "Montserrat", serif;
}

* {
  list-style: none;
  text-decoration: none;
  color: #000;
  padding: 0;
  margin: 0;
}
