.reveal-section {
  padding: 90px 0 90px 0;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .reveal-section {
    padding: 40px 0 40px 0;
  }
}

@media (max-width: 600px) {
  .reveal-section {
    height: 1260px;
  }
}

.offer-list {
  width: 740px;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
  gap: 50px;
}

@media (max-width: 1240px) {
  .offer-list {
    width: 680px;
  }
}

@media (max-width: 768px) {
  .offer-list {
    width: 520px;
    gap: 20px;
  }
}

.offer-item:nth-child(1) {
  background-image: url("/carpenter/desk.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.offer-item:nth-child(2) {
  background-image: url("/carpenter/kitchen.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.offer-item:nth-child(3) {
  background-image: url("/carpenter/door.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.offer-item:nth-child(4) {
  background-image: url("/carpenter/wardrobe.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.offer-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  gap: 30px;

  flex: 1 1 calc((100% - 80px) / 2);
  width: 350px;
  height: 350px;
  border-radius: 5px;
  background-color: #d6b17eb6;
  box-shadow: 5px 5px 10px -5px rgba(66, 68, 90, 0.8);

  transition: opacity 250ms ease-in-out;
}

.offer-item:hover,
.offer-item:focus {
  cursor: pointer;

  opacity: 0.8;
}

@media (max-width: 1240px) {
  .offer-item {
    width: 320px;
    height: 320px;
  }
}

@media (max-width: 768px) {
  .offer-item {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 600px) {
  .offer-item {
    flex: 100%;
    max-width: 300px;
    height: 300px;
  }
}

.item-topic {
  display: flex;
  flex-direction: column;
  align-items: start;

  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px #000000;
  margin: 0 0 10px 10px;
}

.bg-image {
  position: relative;
  height: 50vh;
  background-image: url("/carpenter/wooden-bg4015x3011.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media (max-width: 768px) {
  .bg-image {
    background-attachment: scroll;
  }
}
