.header {
  margin: 0 auto;
}

.wrapper {
  margin: auto;
  max-width: 1280px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn-burger {
  border: none;
  background-color: #fff;
}

@media (min-width: 769px) {
  .btn-burger {
    display: none;
  }
}

@media (max-width: 768px) {
  .navigation {
    display: none;
  }
}

.list {
  display: flex;
  align-items: center;
  gap: 30px;
}
